*{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
section{
     display: grid;
     grid-template-columns: 1fr 3fr;
}
.left{
     /* background-color: aqua; */
     margin: 10px;
     box-shadow: 7px 7px 5px #33333363;
     border: 1px solid #f0f0f0;
     height: max-content;
}
.right{
     width: 100%;
}
.imm{
     width: 100%;
     height: 200px;
     position: relative;
}
.img{
     height: 200px;
}
.img img{
     width: 100%;
     height: 100%;
     object-fit: fill;
}
.na{
     position: absolute;
     font-weight: 900;
     font-size: 25px;
     color: #4caf50;
     bottom: 10%;
     left: 10%;
}
.detail{
     margin: 0 10px;
     padding: 10px;
     display: flex;
     flex-direction: column;
     gap: 10px;
     text-align: left;
     border-bottom: 1px solid #c0c0c07c;
}
.last{
     border-bottom: none;
}
.title{
     font-weight: 700;
     font-size: 20px;
}
.ski{
     font-size: 30px;
     font-weight: 600;
     color: #4caf50;
}
.percnt{
     position: relative;
}
.percentage-bar-container {
     margin: 0 auto;
     width: 250px;
     border: 1px solid #ccc;
     border-radius: 30px;
     overflow: hidden;
 }
 .percentage-bar {
     height: 20px;
     background-color: #4caf50;
 }
 .html .percentage-bar {
     width: 90%;
 }
 .css .percentage-bar {
     width: 85%;
 }
 .bootstrap .percentage-bar {
     width: 80%;
 }
 .javascript .percentage-bar {
     width: 80%;
 }
 .english .percentage-bar {
     width: 90%;
 }
 .yoruba .percentage-bar {
     width: 85%;
 }
 .spanish .percentage-bar {
     width: 5%;
 }
 .percentage-text {
     position: absolute;
     text-align: center;
     font-size: 15px;
     font-weight: 900;
     color: #333;
     left: 45%;
 }
 .workExpre{
     background-color: transparent;
     padding: 20px;
     display: flex;
     flex-direction: column;
     gap: 40px ;
     border: 1px solid #f0f0f0;
 }
 .kk{
     color: #4caf50;
     font-weight: 800;
     font-size: 40px;
 }
 .first{
     display: flex;
     flex-direction: column;
     gap: 10px;
 }
 .date{
     color: #4caf50;
     font-weight: 900;
 }
 .date span{
     padding: 3px;
     background-color: #4caf50;
     color: #fff;
 }
 /* 
<!-- i am about to loose my streak, i dont know what going on --> */